.env
.env.local
frontend/.env
frontend/.env.local
.claude

.venv/
__pycache__/
*.pyc
index_cache/
node_modules/
frontend/dist/
frontend/node_modules
frontend/node_modules/*
PageIndex/*
PageIndex/**
prompt.txt
explain.md
workspace/*
workspace
uploads
uploads/*
